[2015-08-21 08:54] pires opened #1 "Environment variable based configuration"

[2015-08-21 09:57] #1 closed

[2015-11-19 19:48] ant31 opened #3 "Remove discovery plug-in in favor of hitting Service"
Hi,

I successfully try to remove Elasticsearch discovery plugin Kubernetes

The new configuration is simple:
[code]

and in the  ES-RC:
[code]

Is this plugin doing something more than discovering new nodes?

[2015-11-19 20:12] jimmidyson commented on #3
No this plugin doesn't do any more than that. What happens when you try to disable?

[2015-11-19 20:24] ant31 commented on #3
From what I ve observed, when I scale or start the cluster  elasticsearch is trying to find another es-node by using the elasticsearch-discovery service (service for masters only on 9300), so it find a master and register itself into the cluster.

[2015-11-19 20:52] jimmidyson commented on #3
If you want to _only_ use unicast then I think you need to disable multicast explicitly - https://www.elastic.co/guide/en/elasticsearch/guide/current/_important_configuration_changes.html#CO309-1

[2015-11-19 21:57] pires commented on #3
Yes @ant31 this is possible, yet I'm more comfortable with having all nodes connecting to all masters available for discovery. Anyway, open to discussion.

[2015-11-20 07:23] dermidgen commented on #3
Okay, so along these lines - I'm not stuck when using `kubectl scale --replicas=3 rc es`.  I have fabric8 enabled, I'm using the default image here so multicast is set to false. I'm hitting:

[code]

[2015-11-20 09:30] jimmidyson commented on #3
tl;dr: that looks like you've set up your services wrongly - need separate services for http port (9200) & cluster comms (9300). Same error reported [here](https://github.com/fabric8io/elasticsearch-cloud-kubernetes/issues/18#issuecomment-158155523) with discussion [here](https://github.com/fabric8io/elasticsearch-cloud-kubernetes/issues/18#issuecomment-158176679).

[2015-11-20 09:40] pires commented on #3
Test with https://github.com/pires/kubernetes-elasticsearch-cluster/pull/25 and report back please. I tested it with 4 nodes, both Kubernetes 1.1.1 and GKE, and it worked smoothly.

[2015-11-20 10:32] ant31 commented on #3
@pires what have you tested?

I think as soon a node is part of the cluster if its initial master goes down it won't affect it.

[2015-11-20 10:38] jimmidyson commented on #3
@ant31 Ah I think I understand what your trying to do now. You're trying to use a single service to find the master without the discovery plugin? If that works great then that's brilliant & we have no need for the discovery plugin at all. Definitely worth testing out.

[2015-11-20 10:50] jimmidyson commented on #3
Well this seems to work perfectly! How simple! I'm sure this never used to work, it was my first idea to do it this way, it didn't work so I wrote the plugin. But I'm really happy to see it working now!

@pires Would you be able to test it out too to confirm?

[2015-11-20 11:01] pires commented on #3
@jimmidyson I understood what @ant31 is proposing and it's really neat given its simplicity. But again, I feel more comfortable with a node hitting all masters. Distributed systems are tricky and we can never rely on a single master being available - a service may point to a unhealthy pod that's not yet (or ever) marked as unhealthy - to join a cluster.

[2015-11-20 11:03] jimmidyson commented on #3
@pires It does actually hit all masters... well it hits the service which routes to any endpoint which in turn returns all nodes in the cluster. It then makes peer-to-peer connections to masters.

[2015-11-20 11:04] pires commented on #3
@jimmidyson my knowledge on Services is that it routes a connection request to a single pod. Have I been wrong all this time?

[2015-11-20 11:06] pires commented on #3
I'd like to have input from the Kubernetes people (@erictune @brendanburns @kelseyhightower) because there are other example apps that would also work with this simple trick, like Hazelcast and Cassandra.

[2015-11-20 11:11] ant31 commented on #3
@pires, yes but hitting the service is its exactly like having the full pod list (in the case of ES)
It will route to one available master and then the node receive complete cluster view, it's never bound to a single point.

[2015-11-20 11:15] pires commented on #3
@ant31 what happens if the node to which the Service points is malfunctioning (and assuming there's no liveness probe implemented)? What happens if the connection fails? To my understanding, ES will not retry discovery but even if it does it's not guaranteed it won't reach the same borked master node.

[2015-11-20 11:23] ant31 commented on #3
@pires, good point. Using the service liveness/readiness probe would be a requirement(is that a matter?)

To argument your way I've just found an issue:
scaling master quickly (like from 1 to 5) without probe: new master have a high chance to cluster itself with another new master, and then not being part of the targeted cluster.

[2015-11-20 11:27] jimmidyson commented on #3
I wonder if this is any different than using the discovery plugin?

[2015-11-20 12:04] pires commented on #3
@jimmidyson yes, because the plug-in hits _all_ the nodes we tell it to - in my case and the Kubernetes _official_ Elasticsearch example, all master nodes.

[2015-11-20 12:06] pires commented on #3
@ant31 unfortunately, Elasticsearch does not share cluster topology (gossip), like Hazelcast and Cassandra do.

[2015-11-20 12:19] jimmidyson commented on #3
Now that is a very good point. OK you've convinced me :)

[2015-11-20 15:57] dermidgen commented on #3
@jimmidyson I did see that thread and the issue there. What I am trying to do is literally follow the guide https://github.com/kubernetes/kubernetes/tree/master/examples/elasticsearch and figure out what updates I need to make for ES 2.  At this point, literally following that guide without deviation, got me that result. My guess is because of the single mixed service instance being scaled with `k

[2015-11-20 15:58] jimmidyson commented on #3
I think @pires will be doing that soon.

[2015-11-20 16:23] pires commented on #3
@dermidgen that tutorial is not compatible with 1.1.x. Again, the changes in https://github.com/pires/kubernetes-elasticsearch-cluster/pull/25 are enough.

[2015-11-20 16:23] pires commented on #3
@jimmidyson since I ignored one PR by @dermidgen I'm asking him to do it for me. It's a win/win scenario :D

[2015-11-20 16:38] ant31 commented on #3
Yes the cluster has to have at least one master, but each nodes knows all other node as soon as they join/left.

I've tried following scenario:
-  1 master / 2 clients, then remove the master  0 master / 2 clients
-  scaled up to 1 master, the cluster was back healthy,
-  scaled up to 2 master, the cluster still healthy.
-  remove first master, the cluster still healthy

I think the discovery is w

[2015-11-20 17:50] dermidgen commented on #3
@jimmidyson @pires I've opened a PR here: https://github.com/kubernetes/kubernetes/pull/17570

There's a couple outstanding questions I still have related to the simple example and `emptyDir` warnings. Love it if you guys could weigh in there.

[2015-11-21 07:41] jimmidyson commented on #3
I think it might be worth asking the elasticsearch team if this approach is recommended? Discovery via a load balancer. Hmm. It seems to work really well but there might be some nuance we're missing. I certainly hope it is supported, that means one less project for me to maintain ;)

[2015-11-21 07:56] jimmidyson commented on #3
Asked [here]( https://discuss.elastic.co/t/elasticsearch-2-0-unicast-discovery-via-load-balancer/35210)

[2015-11-23 11:23] jimmidyson commented on #3
Good reply [here](https://discuss.elastic.co/t/elasticsearch-2-0-unicast-discovery-via-load-balancer/35210/5?u=jimmidyson) suggesting we should continue with discovery via container IPs, but that the headless cluster service should only point to masters, not any node in the cluster - this is just a deployment change (selector on cluster service), not code change. SGTM:

[2015-11-23 11:42] pires commented on #3
@jimmidyson thanks a lot.

* [My service for discovery purposes alone](https://github.com/pires/kubernetes-elasticsearch-cluster/blob/master/es-discovery-svc.yaml)
* [My service for client usage alone](https://github.com/pires/kubernetes-elasticsearch-cluster/blob/master/es-svc.yaml)

[2015-11-23 11:42] #3 closed

[2015-11-23 11:46] jimmidyson commented on #3
Perfect!

[2015-11-23 15:53] ant31 commented on #3
Not this time :)

Thank you @pires, @jimmidyson  to have investigate on this.

[2015-11-23 15:55] pires commented on #3
@ant31 thank you for reporting and keeping with us.

[2015-11-23 16:11] jimmidyson commented on #3
@ant31 Yes thank for the idea - got me excited for a little while ;)

[2015-11-27 05:40] onorua opened #4 "Alpine doesn't work with kubernetes"
You have moved to Alpine linux quite some time ago (https://github.com/pires/docker-jre/commit/00104da058777615fc015cae7b6079102afa6ffa), since that moment kubernetes elasticsearch doesn't work. The reason is simple - alpine doesn't support `search` parameter in resolve.conf.
The plugin for kubernetes node discovery has `kubernetes.default.svc` as desitnation name, but kubernetes DNS doesn't have

[2016-01-17 10:04] pires commented on #4
@onorua can you share logs that prove this is failing?

[2016-01-17 11:12] #4 closed

[2016-03-28 09:20] ddyycao opened #5 "Got exception when start up"
I'm runing kubernetes1.2 on centos7

[s6-init] making user provided files available at /var/run/s6/etc...exited 0.
[s6-init] ensuring user provided files have correct perms...exited 0.
[fix-attrs.d] applying ownership & permissions fixes...
[fix-attrs.d] done.
[cont-init.d] executing container initialization scripts...
[cont-init.d] done.
[services.d] starting services
level=info msg="Starting go-

[2016-03-28 13:05] pires commented on #5
You can try and change your own version of `elasticsearch.yml` and change [the `network.host` flag](https://github.com/pires/docker-elasticsearch-kubernetes/blob/master/elasticsearch.yml#L8).

[2016-03-29 01:26] ddyycao commented on #5
Thanks!  I check the offical es image and use "network.host:0.0.0.0" this fix the problem

[2016-03-29 01:26] #5 closed

[2016-04-20 19:16] selvakn commented on #5
With pull request #6, `network.host` can be easily changed, without building a new image.

[2016-05-20 05:46] SaMnCo opened #8 "Documentation should list OpenJRE rather than Oracle JRE"
Hello!
Great work adapting the production grade ES cluster and following upstream. Congrats and thanks, much appreciated.

One (very small) comment: I was a bit confused in the documentation for this as it states "Oracle JRE" but the original docker-jre is based on OpenJDK. I think it would be more accurate to mention OpenJDK JRE 8u92 (at least atm).

Best,

[2016-05-20 08:09] pires commented on #8
Hi, thank you for your kind words. I used to maintain docs in the Kubernetes project but it got too cumbersome and now I only update it here.

Regarding docs, you're right. Would you contribute a PR to fix it? Glad to merge.

[2016-05-21 14:11] pires commented on #8
Fixed by https://github.com/pires/docker-elasticsearch-kubernetes/commit/a60e079a466d0c8fab257a963d4d19c764e17cfa.

[2016-05-21 14:11] #8 closed

[2016-08-03 21:47] tyh0 opened #12 "issues using /bin/plugin to install"
Hi there,

I am currently trying to use both elasticsearch and couchbase db in a GKE kubernetes cluster. Part of this involves installing the couchbase elasticsearch plugin.

My k8s cluster currently has operational couchbase pods, and I have added elasticsearch as described at https://github.com/pires/kubernetes-elasticsearch-cluster.

The instructions I am using to install the plugin are describ

[2016-08-03 21:52] tyh0 commented on #12
This is one of the yaml files that I am currently using to try to get around this issue:

[2016-08-05 19:11] tyh0 commented on #12
bump

[2016-08-08 10:56] pires commented on #12
I have to try and reproduce, otherwise I'm clueless.

[2016-08-12 19:07] tyh0 commented on #12
Here's some information that I can give you for reproduction purposes:

Currently the google container engine cluster contains couchbase pods as described in https://github.com/couchbase/kubernetes.

It also contains an nginx pod that serves as the entrypoint for the cluster, as described at https://github.com/kubernetes/kubernetes/blob/master/examples/https-nginx/nginx-app.yaml.

I've added to th

[2016-08-18 07:24] Branor commented on #12
This looks to be a problem with the container not having the expected configuration settings for ES, not specifically a problem with the transport plugin. Are you able to successfully install other plugins? Which configuration file (elasticsearch.yml) is it actually using?

[2016-08-18 09:34] pires commented on #12
DISCOVERY_SERVICE is an environment variable populated in containers by Kubernetes itself. Obviously, said service needs to be created as per instructions in this repo. Did you do anything differently?

[2016-08-19 21:52] tyh0 commented on #12
Hi guys, thanks for your responses.

@Branor, the yml files I've been using for this cluster can be found here: https://github.com/pires/kubernetes-elasticsearch-cluster, and the ES container they use is the one from this repo.

@pires I didn't realize that the instructions on this repo were mandatory. They only list the environment variables that may be used in replication controllers. I've since

[2016-08-19 22:05] pires commented on #12
@tyh0 you're right. This repo is just used to build the image used in https://github.com/pires/kubernetes-elasticsearch-cluster.

[2016-08-19 22:16] tyh0 commented on #12
So is it possibly the case that the image doesn't have the environment variables set correctly, or in such a way that the plugin is able to recognize them?

[2016-08-19 22:37] pires commented on #12
@tyh0 is the plug-in even compatible with Elasticsearch 2.3.x? Not from what I read http://developer.couchbase.com/documentation/server/4.0/connectors/elasticsearch-2.1/release-notes.html#elastic-release-notes!

[2016-08-19 22:41] tyh0 commented on #12
@pires The link in your above comment is a bit outdated. The command to install the plugin ultimate hits this repo: https://github.com/couchbaselabs/elasticsearch-transport-couchbase

The versioning convention of the plugin is such that version <version#> of ES would correspond to version 2.<version#> of the plugin. Version 2.3.4 of ES therefore uses plugin version 2.2.3.4. This is the version tha

[2016-08-19 22:43] pires commented on #12
@tyh0 I deleted my previous comment after I re-read your instructions. I am able to reproduce this and I'm still trying to figure out why this would happen. However, it seems that `elasticsearch` user, which is used to run Elasticsearch, doesn't have access to certain environment variables.

[2016-08-19 22:44] pires opened #13 "Upgrade Elasticsearch to 2.3.5"

[2016-08-19 22:46] tyh0 commented on #12
Oh awesome! Thanks :) I'm glad to know that I'm not being stupid or otherwise making a mistake in how I'm trying to do this. Do you have any idea of a timeframe for when this could be straightened away? I ask because I'm currently a co-op student, and my work term is ending at the end of the month. Ideally I really want to get this finished before I depart from the company.

[2016-08-19 23:02] pires commented on #12
I'm looking at it as we speak. Ping me back on monday if I didn't fix this by then.

[2016-08-19 23:16] tyh0 commented on #12
Perfect. Thanks so much :)

[2016-08-20 11:20] #12 closed

[2016-08-20 11:20] #13 closed

[2016-08-20 11:33] pires commented on #12
I'm waiting on a new version of the Elasticsearch Kubernetes discovery plug-in in order to update to version `2.3.5` that will  include this fix.

[2016-08-22 11:56] pires commented on #12
@tyh0 it works.

[code]

[2016-08-22 16:45] tyh0 commented on #12
Has this been straightened away to work with ES 2.3.4 and plugin 2.2.3.4? Or should I change the dockerfiles here to use 2.3.5?

[2016-08-22 16:46] tyh0 commented on #12
Oh, I notice you've already done this. Thanks Pires! If I have any other issues with it, I'll open a new issue.

[2016-08-22 16:46] pires commented on #12
@tyh0 you need to use 2.3.5.

[2016-08-28 22:22] vichargrave opened #14 "Why was run.sh removed?"
I'm not sure why run.sh was removed.  There should be defaults for all the environment variables.

[2016-08-28 22:27] pires commented on #14
Because Kubernetes specific variables shall be set in the deployments used. Or in the `Dockerfile`.
See `README.md`, line 10.

[2016-08-28 22:27] #14 closed

[2016-08-30 14:59] vichargrave opened #16 "How does Elasticsearch get started?"
Sorry I'm not getting this, but I don't see how Elasticsearch gets started for this container without invoking in the Dockerfile or having a run.sh script.

[2016-08-30 15:02] vichargrave commented on #16
Wait, I get it.  I didn't realize that the FROM statement would get the run.sh from your docker-elasticsearch image.  Sorry.

[2016-08-30 15:02] #16 closed

[2016-09-03 05:50] adiri opened #17 "container won't work on kubernetes 1.3.5 (docker 1.11.2 build b9f10c9)"
Heya all,

I'm trying to run ES master on my k8s cluster (hosted on AWS) and getting an error:

[code]

[2016-09-03 05:50] adiri commented on #17
Also happen on 2.3.5_1...

[2016-09-03 06:21] #17 closed

[2016-09-03 06:21] adiri commented on #17
error

[2016-09-14 09:04] pires opened #18 "Upgrade Elasticsearch to 2.4.0"
A new version of the plug-in was released but the merge didn't work out https://github.com/fabric8io/elasticsearch-cloud-kubernetes/pull/43.

[code]

[2016-09-14 11:58] #18 closed

[2016-11-01 15:47] aeneaswiener opened #19 "Upgrade Elasticsearch to 5.0.0"
Are you planning an upgrade to [v5.0.0](https://www.elastic.co/guide/en/elasticsearch/reference/5.0/release-notes-5.0.0.html)?

[2016-11-01 16:11] pires commented on #19
@aeneaswiener unfortunately, it's not trivial. See https://github.com/pires/kubernetes-elasticsearch-cluster/issues/60#issuecomment-257300398.

[2016-11-17 19:19] pires commented on #19
Done.

[2016-11-17 19:19] #19 closed

[2016-12-09 21:37] jcscottiii opened #22 "Add an image for 2.4.2?"
Wanted to know if you are going to make an image for 2.4.2?

I see that you don't do branches or folders to represent each version but instead just update the image on master and tag so I'm not sure how much it'll make sense to do this tag but just asking.

[2016-12-12 21:15] pires commented on #22
I'm not inclined to do this but I can try if it's something you or someone *really* needs.

[2016-12-14 16:35] #22 closed

[2016-12-14 16:59] jcscottiii opened #23 "Create image for 5.1.1"

[2016-12-14 18:06] pires commented on #23
This is ready to tag and push. Just waiting on Jimmi to release the plug-in.

[2016-12-15 15:29] #23 closed

[2016-12-15 15:51] jcscottiii commented on #23
Thanks!!

On Thu, Dec 15, 2016, 10:29 AM Paulo Pires <notifications@github.com> wrote:

[2016-12-22 09:47] zhuc opened #24 "Got KubernetesClientException when running this docker image"
When I tried to run this docker image on my linux server, it throw out this warning:

I'm using the latest 5.1.1 docker image.

The command to start the docker is:

`docker run -d --privileged   -p 9201:9200 -p 9301:9300 quay.io/pires/docker-elasticsearch-kubernetes:5.1.1`

Can you help on this? Thank you!

[2016-12-22 09:48] zhuc commented on #24
Here's the full log.
### > [2016-12-22T09:40:58,819][WARN ][o.e.c.l.LogConfigurator  ] ignoring unsupported logging configuration file [/elasticsearch/config/logging.yml], logging is configured via [/elasticsearch/config/log4j2.properties]

[2016-12-22 11:14] pires commented on #24
This image is to be used from within Kubernetes and not directly with Docker or any other compatible container runtime. For that, use [this other image](https://github.com/pires/docker-elasticsearch).

[2016-12-22 11:14] #24 closed

[2016-12-27 11:36] gtcno opened #25 "Elasticsearch logs is written to file as well as stdout"
Hi

We are having issues with elasticsearch logs using a lot of  disks. Would it be an idea to just make ES log to stdout for this image?

An alternative is adding a cron job to the image that cleans up the daily rotated logs.
We would like hear your thought and would also gladly help with a PR.

[2016-12-28 10:02] pires commented on #25
Rotating logs from within containers didn't use to work for host Docker logs, so I'm not sure what you suggest will fix it.

[2017-01-09 12:18] gtcno commented on #25
To be more precise.

We encountered a problem when runnning this image in a kubernetes cluster with a persistent disk.
The elasticsearch logs would fill the disk, as we had no good method of removing them(docker exec into the container and removing the logs manually is not a good method:) )

So we had to to fork the image and send all elasticsearch logs to standard out, and using
--log-opt max-siz

[2017-01-09 12:25] pires commented on #25
@gtcno this in a Kubernetes cluster? I'm open to review PRs 👍

[2017-01-10 10:04] pires commented on #25
One thing is to not fill the container log files, which I get and could do with a CronJob that rotates said files. A different thing is to rotate on the node itself, but could also be solved with a different CronJob. I wonder what @puja108 and the GiantSwarm team has in place ;)

[2017-01-10 10:05] pires commented on #25
Moving this over to https://github.com/pires/kubernetes-elasticsearch-cluster/issues/70.

[2017-01-10 10:05] #25 closed

[2017-01-12 11:21] pires opened #26 "Review init container"
As shared by @puja108, https://github.com/docker-library/elasticsearch/pull/153/files.

[2017-01-12 11:33] puja108 commented on #26
Btw, to give credit here, it was shared to me by @webwurst first ;)

[2017-01-14 01:00] btipling opened #27 "License file does not have correct license information in it"
It just has the unfilled template variables in it.

[2017-01-14 08:45] pires commented on #27
Supposedly, the template should be used in every source file, e.g. Dockerfile, code, README.md.. and that's just too much work for nothing. Feel free to do whatever you wish to this repo. I hereby confirm everything in this repo is under APL 2.0.

[2017-01-14 08:45] #27 closed

[2017-01-16 05:41] btipling commented on #27
I just meant that you should fill in the author name instead of leaving it  `   Copyright {yyyy} {name of copyright owner}`

[2017-01-16 05:42] btipling commented on #27
@pires I just meant that you might want to fill in the author name instead of leaving it as literally `   Copyright {yyyy} {name of copyright owner}`

https://github.com/pires/docker-elasticsearch-kubernetes/blob/master/LICENSE#L189

[2017-01-23 23:39] RalphCorderoy opened #30 "Apache licence not applied according to its instructions"
Hi, https://github.com/pires/docker-elasticsearch-kubernetes/blob/master/LICENSE#L178 explains how to apply the licence. That hasn't happened and so the licensing is a bit up in the air for those that want to be pedantic about such things before reusing it. This also goes for companies where employees would like to use it but have to ensure they're not dropping their employer in it.

[2017-01-24 09:41] pires commented on #30
Hey Ralph! This has been subject to debate [here](https://github.com/pires/docker-elasticsearch-kubernetes/issues/27).

Thanks for reporting nonetheless.

[2017-01-24 11:22] RalphCorderoy commented on #30
Thanks for the pointer. I wonder how many walk away without bothering to raise the issue and find out about your "hereby confirm" statement. :-(

[2017-01-24 12:02] pires commented on #30
True! Want to open a PR that applies the licensing properly on all files?

[2017-01-26 21:31] JorritSalverda opened #31 "DNS based discovery not configurable"
Since commit https://github.com/pires/docker-elasticsearch-kubernetes/commit/d1907dad5d6985c60848b16bdd7bb8af53c78954 it's no longer possible to automatically discover the master nodes in your cluster if the service has a different name. I run multiple ES clusters with different names inside the same namespace.

You used to be able to use the following environment variable:

[code]

But now the fo

[2017-01-26 21:54] JorritSalverda commented on #31
Hm, I see you already did a commit to fix this after 5.1.2. Any chance you can push an updated 5.1.2_1 or something like it? Thx

[2017-01-27 08:43] JorritSalverda opened #32 "Use hostname as node name"
I run elastic in a statefulset where the hostnames are predictable. It would be nice if the name of the node is the same as the hostname in that case. Could this be configured or are there reasons not to do so?

[2017-01-27 08:45] JorritSalverda opened #33 "Add prometheus plugin"
I inherit this docker image and add the prometheus plugin from https://github.com/vvanholl/elasticsearch-prometheus-exporter/ to visualize all ES stats using the following dashboard https://grafana.net/dashboards/266.

What do you think about adding it to your container?

[2017-01-30 13:30] pires commented on #31
Yes.

[2017-01-30 13:31] #31 closed

[2017-01-30 13:32] pires commented on #32
I don't think this is possible with Deployments.

[2017-01-30 13:34] pires commented on #33
The problem with adding plug-ins to this image is that they can't be made optional. In this case, what happens when people don't have Prometheus in place? It just becomes a waste of disk space, etc. My suggestion is to use this image as a base image to your own image, where you add the plug-ins you need.

[2017-01-30 15:00] JorritSalverda commented on #33
No worries, I have it in my own inherited container.

[2017-01-30 15:00] #33 closed

[2017-02-02 04:56] andrewmclagan opened #34 "Permissions erros installing plugins"
The base user `elasticsearch` does not have the required permissions to install the `s3-repository` plugin.

[code]

we were running that with the command

`yes | sudo -E -u elasticsearch /elasticsearch/bin/elasticsearch-plugin install repository-s3`

it does work with the root container user:

`yes | /elasticsearch/bin/elasticsearch-plugin install repository-s3`

[2017-02-02 08:07] pires commented on #34
Are you running this on a running container?

[The runnable script is setting the needed permissions](https://github.com/pires/docker-elasticsearch/blob/master/run.sh#L7).

[2017-02-03 02:51] andrewmclagan commented on #34
No as a derived container with a new `run.sh` having only slight modifications:

[code]

It works as above, just thought id mention the issue?

[2017-02-14 13:37] Fantomatic opened #35 "failed to resolve host [elasticsearch-discovery]"
Hello,
I'm using something similar to https://github.com/exoscale/multi-master-kubernetes for creating my cluster on some servers based on RHEL7 ( not the atomic host version ).
I've tried with or without discovery plugin ( depending on my version of elasticsearch ), and i found your implementation through dns. My problem when i try it, is ( like always for me ) the discovery which seem to not be

[2017-02-14 15:35] Fantomatic commented on #35
little update : my probleme seem to come from my dns. I did the test recommanded by https://kubernetes.io/docs/admin/dns/
Failed and got nslookup: can't resolve 'kubernetes.default'. But all their possible solutions is not mine sadly.

[2017-02-14 16:08] pires commented on #35
Yes, it's a DNS problem.

[2017-02-14 16:13] Fantomatic commented on #35
The controller logs doesn't ring any bell for you ?  I can't change the hostnames sadly.

[2017-02-14 17:26] pires commented on #35
It's something related to your Kubernetes cluster set-up, not Elasticsearch or this image, I'm sorry to say.

[2017-02-14 17:26] #35 closed

[2017-03-01 06:09] hikhvar commented on #32
We could at least set the elasticsearch node name via an environment variable. The Downward API allows us to get the Pod name as environment variable:
[code]
I will prepare a pull request for this repo and the kubernetes configs since I think it is good to match the output of
[code]
or other Elasticsearch node related information with the actual pod.

[2017-03-01 07:08] hikhvar commented on #32
Added the pull request here: https://github.com/pires/docker-elasticsearch since, I needed to change the `run.sh`.

[2017-03-01 07:27] hikhvar commented on #32
Here is the pull request to apply it to the kubernetes configs: https://github.com/pires/kubernetes-elasticsearch-cluster/pull/82

[2017-03-01 10:03] pires commented on #32
Thanks @hikhvar. I'll close this and we'll pick up from the PR which will be merged today, with version 5.2.2.

[2017-03-01 10:03] #32 closed

[2017-03-03 22:03] zfy0701 opened #37 "Could have xpack installed by default?"

[2017-03-04 10:30] pires commented on #37
Possibly or just provide a new image that contains it. I'll look into it soon.

[2017-03-05 15:09] JorritSalverda opened #38 "Installing a plugin in container 5.2.2 fails because of placeholder NODE_NAME"
When trying to build the following container from your latest one it fails.

[code]

The RUN command installing the Prometheus plugin fails with the following exception:

[code]

Does commit https://github.com/pires/docker-elasticsearch-kubernetes/commit/c0aea7309985e95ef6417e3bb5db269d24959b04 need to be built into a new container? Could you perhaps create 5.2.2_1?

[2017-03-05 18:54] pires commented on #38
It got built as part of 5.2.2.

[2017-03-06 16:51] JorritSalverda commented on #38
Setting `ENV NODE_NAME=""` in my Dockerfile before installing the plugin fixed the issue.

[2017-03-09 11:27] cortopy commented on #38
Experimenting same issue. I was only able to build 5.2.1 but that was giving running time errors related to `NODE_NAME`. I'm back to 5.1.1_2

[2017-03-09 12:19] pires commented on #38
Have you tried 5.2.2_1?

[2017-03-09 13:52] cortopy commented on #38
Yes, that's the one I started with today.

This is the output for the container with the error:

[code]

[2017-03-09 21:02] artushin commented on #37
Added https://github.com/pires/docker-elasticsearch/pull/30

Tested with https://hub.docker.com/r/artushin/docker-elasticsearch-kubernetes/ and seems to work.

[2017-03-09 23:52] pires commented on #37
Merged! Will release new versions tomorrow with a fix for an unrelated bug.

[2017-03-09 23:52] #37 closed

[2017-03-14 19:13] pires commented on #38
Yep, it fails because `NODE_NAME` is set when `run.sh` runs. Use a different approach:
[code]

[2017-03-14 19:13] #38 closed

[2017-03-14 19:15] pires commented on #34
Use a different approach with image `5.2.2_2`:

ENV ES_PLUGINS_INSTALL="repository-s3"

[2017-03-14 19:15] #34 closed

[2017-04-13 17:25] zetab opened #40 "question about environment variables"
Is this image really using fabric8 kubernetes plugin at all? Links in readme goes to fabric8 documentation, but elasticsearch config file does not contain that stuff? And I cannot see that fabric8 plugin installed? Anyways it looks like this docker image is working, i can create elasticsearch cluster to kubernetes which really works (i can kill pods etc and still it can recover its state)

[2017-04-13 20:03] pires commented on #40
Where are the links in the README.md that point to the fabric8 discovery plug-in?

[2017-04-14 06:58] pires commented on #40
You're right, how have I missed that? You could have linked the lines though ;)

[2017-04-14 07:01] #40 closed

[2017-04-17 18:09] xamox opened #41 "Stateful Example not working due to: StatefulSet in version "v1alpha1" cannot be handled as a StatefulSet: no kind "StatefulSet" is registered for version "apps/v1alpha1""
I get the following error:
```Error from server (BadRequest): error when creating "es-data-stateful.yaml": StatefulSet in version "v1alpha1" cannot be handled as a StatefulSet: no kind "StatefulSet" is registered for version "apps/v1alpha1"```

I read that stateful sets were introduced in k8s version 1.5.  I'm using 1.5.2, do I need to be using 1.6?

Here is my version info:
[code]

[2017-04-17 18:22] yukiman76 opened #42 "Shard allocation awareness"
Would love to have the ability for the ES cluster to know which compute node is currently being used so if the compute host crashes the index would still be able to recover

its a simple change to the es configuration to add an attribute that you would then route on
https://www.elastic.co/guide/en/elasticsearch/reference/current/allocation-awareness.html

[2017-04-17 19:50] yukiman76 commented on #42
something  like https://github.com/yukiman76/docker-elasticsearch-kubernetes should be a good start

[2017-04-18 01:10] xamox commented on #41
Just a follow up.  I upgraded to kubernetes v1.6.1 and still getting issues:

`
± % kubectl create -f es-data-stateful.yaml                                                                                                                                                          error: error validating "es-data-stateful.yaml": error validating data: expected type array, for field spec.volumeClaimTemp

[2017-04-18 01:18] pires commented on #42
Check the answer on the other repo. I'll close this one as it doesn't belong here ;)

[2017-04-18 01:18] #42 closed

[2017-04-18 01:19] pires commented on #41
Please, re-open the issue in https://github.com/pires/kubernetes-elasticsearch-cluster.

[2017-04-18 01:19] #41 closed

[2017-05-09 21:27] ssouris opened #44 "Would it be possible to update to 5.4 and add Kibana, X-pack?"
With X-Pack and Kibana you can get a good visualization of your cluster state without any hussle and the new 5.4 brings creation of machine learning jobs through X-Pack (in beta mode) over your data.

It would be really really awesome.

[2017-05-09 21:28] #44 closed

[2017-06-14 05:21] timchenxiaoyu commented on #17
how to solve?

[2017-06-14 10:17] thuandt commented on #17
I think your node seem don't have `k8s private interface`

[2017-06-15 02:39] slmingol commented on #17
This is the line that's the issue: `Exception in thread "main" java.lang.IllegalArgumentException: No up-and-running site-local (private) addresses found, got [name:lo (lo), name:eth0 (eth0)]`. Try explicitly setting the `network.host: [ ... ]` in the elasticsearch.yml file.

[2017-06-15 05:57] timchenxiaoyu commented on #17
I change to unicast ,and solve it

[2017-07-28 21:08] y2kbowen opened #46 "NFS for PS needs rpc.statd running"
I am attempting to create a statefulset. My PS is locally hosted from an NFS share.  My storage and claims are coming online but I get the following error:

`MountVolume.SetUp failed for volume "kubernetes.io/nfs/fa7984c6-6f1a-11e7-b489-021fcfb21298-storage-es-data-0" (spec.Name: "storage-es-data-0") pod "fa7984c6-6f1a-11e7-b489-021fcfb21298" (UID: "fa7984c6-6f1a-11e7-b489-021fcfb21298") with: mou

[2017-07-28 23:01] pires commented on #46
This is a Kubernetes thing, not this image.

[2017-07-28 23:01] #46 closed

[2017-10-03 17:04] natb1 commented on #38
Is there an approach for when a plugin is built from source?

[2017-11-18 18:01] morphers82 opened #50 "Elasticsearch 6.0?"
Any kind of timeline on Elasticsearch 6.0 availability?

[2017-11-21 13:51] #50 closed

[2017-11-26 21:50] mtaylor769 commented on #35
I am also getting this problem on a bare-metal install using kubeadm and 5 physical nodes. It worked at one time then, the cluster was destroyed and when I rebuilt it, it is only the es-client nodes that are throwing this error (es 6.0.0) any new info on what may be causing this?

[2017-11-26 21:57] mtaylor769 opened #52 "elasticsearch-discovery hostname not found (related to closed issue #35)"
Hi. Working on 6.0.0 with @morphers82. I've been attempting many fixes (read #35 a dozen times and focused on kube-dns) and getting the following error *only* on es-client nodes:

`[2017-11-26T21:47:04,470][WARN ][o.e.d.z.ZenDiscovery     ] [es-client-79f5fc4588-6p7v2] not enough master nodes discovered during pinging (found [[]], but needed [1]), pinging again
[2017-11-26T21:47:04,471][WARN ][o.e

[2017-11-26 21:59] mtaylor769 commented on #52
es-client **pods** (sorry)

[2017-11-27 13:29] pires commented on #52
Please, share the results of the following:
[code]

And:
[code]

[2017-11-27 16:57] mtaylor769 commented on #52
Hi!, thanks for responding so quickly. Here's the output from the elasticsearch-discovery service (note: I edited the live config to use type: NodePort and set the externalIPs: to the subnet that connects to the router. I can set that back to 'ClusterIP' if needed):

`
keyinsp@ubuntu:~$ kubectl describe --namespace=keyinsp-es-cluster svc/elasticsearch-discovery
Name:                     elasticsea

[2017-11-27 17:45] pires commented on #52
[code]

So no backends running.

[2017-11-27 18:16] mtaylor769 commented on #52
On which? I need a more verbose answer, I have been troubleshooting this for four days now.

[2017-11-27 18:40] pires commented on #52
[code]

This returns no backends so it means no pods are being picked by the service, hence your issue.

[2017-11-27 18:48] mtaylor769 commented on #52
Okay, so why aren't the es-client pods being picked? This is using *your* script that I had working fine a week ago.

[2017-11-27 21:32] pires commented on #52
`elasticsearch-discovery` is used only to expose Elasticsearch masters!
[code]

[2017-11-27 21:33] pires commented on #52
The logs above seem to show one instance of `es-client` trying to find `es-master` but none is found:

So, there are no masters running & ready.

[2017-11-28 01:41] mtaylor769 commented on #52
No, that is not the case, there are three es-masters up and running:

[code]

[2017-11-28 11:40] pires commented on #52
[code]

[code]

[2017-11-28 17:13] mtaylor769 commented on #52
Hi, Paulo. Sorry for the delay, and thanks again for helping me through this - I know it's probably something trivial. Here is the output, I re-deployed the containers so the hashes don't match, but these are the current pods:

[code]
and the logs (up to the first error) :
[code]

[2017-11-28 17:16] mtaylor769 commented on #52
One thing that was suggested in my research is to set the loopback 'server.hostname=0.0.0.0' in the elasticsearch.yml and kibana.yaml (which I was also having trouble with connecting to when this was running previously).

[2017-11-28 17:29] pires commented on #52
Interesting. This may be something with Elasticsearch 6.0.0. I will investigate while I update the docs in github.com/pires/kubernetes-elasticsearch-cluster.

[2017-11-28 17:40] mtaylor769 commented on #52
Great. Just as an extra piece of info: I tried rolling back to 5.6.3 and I'm seeing the same errors from the es-master pods, so I don't think it's specific to 6.0.0, something else is missing in my setup... I've been looking at kube-dns component to see if I missed some serviceaccount or something, but again, I've been stabbing at this for several days before reaching out to you. I'll look for you

[2017-11-28 17:43] pires commented on #52
Yes, it could be an issue with kube-dns, indeed. Try the following:
[code]

Then, inside the pod container:
[code]

[code]

Paste the results here.

[2017-11-28 17:48] mtaylor769 commented on #52
here we go:
[code]
 and
[code]

[2017-11-28 18:12] pires commented on #52
kube-dns is not working for you.

[2017-11-28 18:13] pires commented on #52
you can try something like ```
kubectl -n kube-system get deployment,pods
[code]

[2017-11-28 18:34] mtaylor769 commented on #52
Ok. I see the problem. It's stuck in a CrashLoopBackoff. I may have to ```kubeadm reset``` (again... this gave me great headaches last week). Here is the kubadm init command I'm using (perhaps I need 1.8.4?)
[code]
```--token-ttl=-0``` is for expiring the tokens always, and of course the ```--pod-netword-cidr``` is for Flannel. I also tried adding ```--apiserver-advertise-address=0.0.0.0``` but th

[2017-11-28 18:49] pires commented on #52
Glad you figured it out! I can't help with kubeadm, though. Good luck.

[2017-11-28 18:49] #52 closed

[2017-11-29 00:54] mtaylor769 commented on #52
Thanks again for your help, Paulo. I will let you know if re-initializing fixes the issue and what the underlying solution is in case this comes up for someone else in the future.

[2017-11-29 06:04] pires commented on #52
Call me Pires. No problem. I will update the kubernetes-elasticsearch-cluster repo and if I find similar issues I'll re-open this.

[2017-12-02 23:14] gschaden opened #54 "Image does not run"
Using docker and in kubernetes the container keeps crashing
The only output is
`Not setting JVM max heap size, already set
`
By setting the args to /run.sh in kubernetes, the container started as expected

[2017-12-03 05:26] pires commented on #54
What instructions are you following? https://github.com/pires/kubernetes-elasticsearch-cluster?

[2017-12-04 22:12] deimosfr opened #55 "Release 2.4.6"
Hi,

Could you please perform a release for 2.4.6 image and push it to quay repo ?

Thanks

[2017-12-04 22:17] pires commented on #55
That was ages ago. I can't support that, I'm sorry. Feel free to fork this, no harm done.

[2017-12-04 22:17] #55 closed

[2017-12-06 20:14] scostello-paanalytics commented on #54
@pires I was having the same issue and yes I was following the instructions at https://github.com/pires/kubernetes-elasticsearch-cluster.

[2017-12-06 22:53] chancez commented on #54
I've seen a few reports of this too. Might be related to my PR, but I tested running it via docker locally and didn't have any issues, but I guess I wasn't checking for run.sh being run. I wonder if the issue is that both of these scripts run `exec`.

[2017-12-07 03:59] deedubs commented on #54
I can confirm I'm seeing the same.  Running the `statefulset` example from the k-e-c repo. Going to investigate @chancez's suggestion about manually specifying `command `

[2017-12-07 15:18] deedubs commented on #54
I've been able to start the new images with the command

[code]

[2017-12-07 15:48] pires commented on #54
How was I able to run this then when updating the repo with the instructions for 6.0.0? 🤔

[2017-12-07 16:30] deedubs commented on #54
I spoke too soon

[code]

and I'm still seeing

[code]

[2017-12-07 16:46] dwickern commented on #54
I have the same problem running it on a fresh [kubernetes-vagrant-coreos-cluster](https://github.com/pires/kubernetes-vagrant-coreos-cluster)

[2017-12-07 17:54] chancez commented on #54
@deedubs that's what it _should_ look like. Are you saying you got it working without changing anything besides env vars?

FWIW, it seems `CMD` simply isn't running. If I just do `docker run -it  quay.io/pires/docker-elasticsearch-kubernetes:6.0.0_jre8u151 /run.sh` it does both the entrypoint and the `/run.sh`, so it doesn't seem like the scripts are interacting poorly, but rather the CMD isn't be

[2017-12-07 18:23] deedubs commented on #54
@chancez Agreed. I missed where it was dividing the resource limit to set the heap.

https://github.com/pires/docker-elasticsearch-kubernetes/blob/master/entrypoint.sh#L46 is expecting an argument but we are currently not passing on https://github.com/pires/docker-elasticsearch-kubernetes/blob/master/Dockerfile#L15

[2017-12-07 18:52] chancez commented on #54
@deedubs The argument should come from the base image which this is built on top of at https://github.com/pires/docker-elasticsearch/blob/master/Dockerfile#L72

[2017-12-10 20:26] pires commented on #54
Sorry for the delay but I've been really busy as of lately. I can reproduce and am working on a fix.

[2017-12-10 21:08] #54 closed

[2017-12-10 21:11] pires commented on #54
Unfortunately, I had to revert @chancez PR until I figure out what's going on. Releasing 6.0.1 as we speak.

[2017-12-11 14:51] deedubs commented on #54
@pires not sure if it'll help with your debugging but I have it running.  This is the full Statefull lSet https://gist.github.com/deedubs/c5bbbddf605794ca9a4609c23f94dc08

[2017-12-11 14:58] pires commented on #54
@deedubs you got it working by overriding the command. I don't want that and I really can't tell why the entrypoint doesn't call the cmd or why it returns an error. Even though they're in separate Dockerfiles, I believe it should just work. I don't have the free cycles to look more deeply into it now and so the quickest solution was to simply revert the commit that broke this.

[2017-12-11 15:26] deedubs commented on #54
Yeah exactly, not proposing it as a viable solution, just what I had to do
to move forward with 6.0(we had an external dep on 6.0).  I'll see if I can
investigate.

On Mon, Dec 11, 2017 at 9:58 AM Paulo Pires <notifications@github.com>
wrote:

[2017-12-11 17:42] chancez commented on #54
I wonder if this has to do with docker version.

[2017-12-11 18:45] deedubs commented on #54
We're on `1.12.6` FWIW

[2017-12-12 12:53] pires commented on #54
I test things with my kubernetes-vagrant-coreos-cluster repo and it runs CoreOS alpha which runs Docker 17.11.0, as I write this.

[2018-03-02 11:11] tisaser commented on #38
ENV ES_PLUGINS_INSTALL="file:///elasticsearch/es-changes-feed-plugin/es-changes-feed-plugin.zip"
worked for me. You need to copy this file during image build.
I guess you can replace it with http://

[2018-03-06 13:41] JorritSalverda opened #58 "Installing plugins fails since 6.2.x"
Since trying to bake a 6.2.x version of of this container I can no longer install plugins, it fails with a `mktemp: Invalid argument` error.

[code]

All ElasticSearch themselves all they have to say about this is that they do not support Alpine: https://github.com/elastic/elasticsearch/issues/28561

However it worked fine on version 6.1.3 of this container. The base docker-elasticsearch image inh

[2018-03-06 13:43] JorritSalverda commented on #58
I just saw in the elasticsearch issue that setting ES_TMPDIR should circumvent usage of mktemp. This works indeed:

[code]

[2018-03-06 13:43] #58 closed

[2018-04-16 09:44] jorge07 opened #59 "ERROR: no log4j2.properties found; tried [/elasticsearch/config] and its subdirectories"
I'm investigating this issue but we've some clusters running with this version without problem.

## Steps to reproduce
[code]

K8s version

[code]

[2018-05-12 06:48] ron1 opened #60 "Release 5.6.9"
The Elasticsearch 5.6 branch continues to be maintained. On April 17, 2018, Elasticsearch 5.6.9 was released. Consider releasing a 5.6.9 version of this image.

[2018-05-22 12:18] anopheles opened #61 "MEMORY_LOCK: false does not disable swapping"
The docs state

The default should be to turn on bootstrap.memory_lock, not disable it.

[2018-06-15 15:47] lcasassa opened #62 "X-pack for elasticsearch 6.3.0 not working"
$ docker run --rm -it quay.io/pires/docker-elasticsearch-kubernetes:6.3.0 sh
/elasticsearch # elasticsearch-plugin list
mktemp: Invalid argument
/elasticsearch #

It looks like alpine is not supported??

Is this the reason x-pack is not working in 6.3.0?

[2018-06-17 01:01] pires commented on #62
It is working. This image is supposed to run as part of a Kubernetes cluster and not with docker run. Please see https://github.com/pires/kubernetes-elasticsearch-cluster

[2018-06-17 01:02] pires commented on #62
The x-pack-ml had to be disabled and deleted because it doesn't support Alpine Linux (non-glibc).

[2018-06-17 01:02] #62 closed

[2018-06-18 02:07] lcasassa commented on #62
Interesting, I have it already deployed working in production at Buda.com :)

But I don't see the watcher/monitor/etc links in kibana. How do I enable them?

[2018-06-18 19:09] lcasassa commented on #62
I was using the image docker.elastic.co/kibana/kibana-oss:6.3.0 instead of docker.elastic.co/kibana/kibana:6.3.0 :P

Thanks!

[2018-08-22 21:21] paulavijit opened #63 "Missing required field "selector" in io.k8s.api.apps.v1.StatefulSetSpec"
Executing:
kubectl apply -f es-master-stateful.yaml

Results in error:
error: error validating "es-master-stateful.yaml": error validating data: [ValidationError(StatefulSet.spec): missing required field "selector" in io.k8s.api.apps.v1.StatefulSetSpec, ValidationError(StatefulSet.spec): missing required field "serviceName" in io.k8s.api.apps.v1.StatefulSetSpec]; if you choose to ignore these erro

[2018-08-23 06:01] pires commented on #63
Hello! Thanks for reporting but I think you wanted to report this on pires/kubernetes-elasticsearch-cluster repo, right?

[2018-08-23 09:21] #63 closed, assigned to nobody

[2018-08-31 08:53] xanonid commented on #60
There is also now ElasticSearch 6.4.0: https://www.elastic.co/blog/elasticsearch-6-4-0-released

[2018-09-04 23:11] Fious opened #64 "Release version 6.4.0"
Hi,

Just curious, has the update to 6.4.0 been started?

[2018-09-05 10:50] #64 closed

[2018-10-31 14:13] rudibatt opened #65 "Disable Java DNS Cache-for-ever, which prevents discovery of moving masters"
The base image doesn't change the default Java DNS cache setting, which is set to "cache for ever". This is not the desired behaviour in a kubernetes setup, where the IP adresses of the pods can change because of rescheduling, draining etc.
Unfortunately it's not realy possible (just with a deprecated option) to overwrite that behaviour with java startup parameters.
See https://stackoverflow.com/a